
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    margin: 0;
    /* grid-template-rows: auto 1fr auto; */
    
}

main {
    padding: 30px;
    width: 100%;
    margin: 0;
    align-items: center;z
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
}

section {
    display: contents;
}

header {
    background-color: rgb(238, 234, 13);
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

div.calculator-boxes {
    width: 100%;
    /* background-color: violet; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-left: 180px;
}

.first-number, .second-number {
    width: 40px;
}

.addition {
    background-color: rgb(21, 143, 143);
    display: grid;
    /* border:indianred 5px solid; */
    padding: 15px;
    width: 150px;
    height: 190px;
    /* align-items: center;
    justify-content: center; */
}

.subtraction {
    display: grid;
    background-color: tomato;
    padding: 15px;
    width: 150px;
    height: 190px;
}

.multiplication {
    display: grid;
    background-color: yellow;
    padding: 15px;
    width: 150px;
    height: 190px;
}

.division {
    display: grid;
    background-color: green;
    padding: 15px;
    width: 150px;
    height: 190px;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
